<!DOCTYPE html>
<html>

  <head>
    <title>
      <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>

    <header id="header">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
      </div>

    </header>
    <section class="container" id="app">
      <div class="row">
        <div class="input-group col-md-6 col-md-offset-3">
          <input type="" name="" value="" class="form-control" v-model="kw" placeholder="请输入用户名或者用户ID">
          <span class="input-group-addon" @click="getResult"><i class="glyphicon glyphicon-search" ></i></span>
        </div>
        <div class="col-md-6 col-md-offset-3">
          <div class="row user" v-for="result in results">
            <img :src="result.pic" alt="" class="user-pic pull-left">
            <div class="user-info pull-left">
              <p>{{ result.name }}</p>
              <p>{{ result.content }}</p>
            </div>
            <div class="pull-right mt10">
              <a :href="result.page" class="btn btn-primary btn-sm pull-right" target="_blank">去主页</a>
              <a @click="getRelationship" data-url="result.page" class="btn btn-success btn-sm pull-right mr10">关系图</a>
            </div>
          </div>
        </div>
        <div class="col-md-12 echart-container" id="relation-echart-container" >

        </div>
      </div>
    </section>
    <script src="/javascripts/index.js"></script>
  </body>

</html>