.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml20 {
  margin-left: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.hidden {
  display: none;
}
.user {
  padding: 15px;
}
.user .user-pic {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.user:hover {
  background-color: #eee;
}
.user .user-info {
  vertical-align: middle;
  max-width: 330px;
}
.echarts-wp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  z-index: 99;
}
.echarts-wp .close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 50px;
  z-index: 100;
}
.echarts-container {
  width: 1150px;
  height: 500px;
  margin: 0 auto;
}
.echarts-info {
  width: 300px;
  height: 100%;
  float: left;
}
