.ml10{
  margin-left: 10px;
}
.mr10{
  margin-right: 10px;
}
.mt10{
  margin-top: 10px;
}
.mb10{
  margin-bottom: 10px;
}
.ml20{
  margin-left: 20px;
}
.mr20{
  margin-right: 20px;
}
.mt20{
  margin-top: 20px;
}
.mb20{
  margin-bottom: 20px;
}
.user{
  padding: 15px;
  .user-pic{
    width: 60px;
    height: 60px;
    .mr10;
  }
  &:hover{
    background-color: #eee;
  }
  .user-info{
    vertical-align: middle;
    max-width: 330px;
  }
}
.echart-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}